{% extends 'base_dashboard.html' %}
{% load static %}

{% block title %}Create Sale | IG Mobile{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/sale.css' %}">
{% endblock %}

{% block breadcrumb %}
    <span class="current">Create Sale</span>
{% endblock %}

{% block sidebar_menu %}
    {% include 'menus/common_sidebar.html' with employee=logged_in_employee employee=logged_in_employee active_page='create_sale' %}
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Create Sale</h2>
        <form method="post">
            {% csrf_token %}
            {{ sale_form.as_p }}
            {{ formset.management_form }}

            {% for form in formset %}
                <fieldset class="form-group">
                    <legend>Product {{ forloop.counter }}</legend>
                    {{ form.product_id.label_tag }} {{ form.product_id }}
                    {{ form.quantity.label_tag }} {{ form.quantity }}
                    {{ form.product_category.label_tag }} {{ form.product_category }}
                    {{ form.imei.label_tag }} {{ form.imei }}
                </fieldset>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Submit Sale</button>
        </form>
    </div>
{% endblock %}