{% extends 'base_dashboard.html' %}
{% load static %}

{% block page_title %}Add Stock{% endblock %}

{% block breadcrumb %}
    <a href="{% url 'product_list' %}">Products</a>
    <span class="separator">/</span>
    <a href="{% url 'product_stock' product.pk %}">Stock for {{ product.name }}</a>
    <span class="separator">/</span>
    <span class="current">Add Stock</span>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/stock_form.css' %}">
{% endblock %}

{% block sidebar_menu %}
    {% include 'menus/common_sidebar.html' with employee=logged_in_employee active_page='product_stock' %}
{% endblock %}

{% block content %}
    <div class="form-card">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend>Add Stock Item</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{% url 'product_stock' product.pk %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}